.example {
  color: darkgreen;
  background-color: cadetblue; //тут пишем стили
}
.field {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  width: 300px;
  height: 200px;
  border: 10px inset lightblue;
}
.center {
  text-align: center;
}
button {
  background-color: chocolate;
}
