.example {
  color: darkgreen;
  background-color: cadetblue; //тут пишем стили
}
.field {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  border: 10px inset lightblue;
}
.center {
  text-align: center;
}
button {
  background-color: chocolate;
}
#bug-container {
  position: relative;
  height: 200px;
}

.bug-icon {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
