.example {
  color: darkgreen;
  background-color: cadetblue; //тут пишем стили
}
.ligo {
  font-family: "Montserrat", sans-serif;
  float: none;
  color: rgb(166, 255, 0);
}
.field {
  position: relative;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  border: 10px inset lightblue;
}
.center {
  text-align: center;
}
button {
  background-color: rgb(147, 210, 30);
}
#bug-container {
  position: relative;
  height: 200px;
}

.bug-icon {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
