<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <h1 class="ligo">Эволюция</h1>
      </li>
    </ul>
    <form class="d-flex"></form>
  </div>
</nav>

<div class="field" [style.width.px]="M" [style.height.px]="N">
  <header class="header" id="bug-container">
    <img class="bug-icon" id="bug" src="https://svgshare.com/i/t12.svg" />
    <img class="bug-icon" id="bug" src="https://svgshare.com/i/t12.svg" />
    <img class="bug-icon" id="bug" src="https://svgshare.com/i/t12.svg" />
  </header>
</div>
<br />
<div class="center">
  <button (click)="stopSimulation()">Завершить симуляцию</button>
</div>
<svg height="100" width="100">
  <use xlink:href="/src/app/Animals/body1.svg"></use>
</svg>
<!--
<div>
  <object type="image/svg+xml" data="/src/app/Animals/body1.svg">
    it's a rocketship!
  </object>
</div>
-->
<!--<svg class="imgbody1" src="/src/app/Animals/body1.svg"></svg>-->
