<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <h1 class="ligo">Эволюция</h1>
      </li>
    </ul>
    <form class="d-flex">
      <!--span class="text-white">{{ loggedUser?.email }} </span-->
      <button class="btn btn-primary" type="button" (click)="buttonClkVihod()">
        Выход
      </button>
    </form>
  </div>
</nav>

<div class="center">
  <h2>Размер поля MxN в пикселях:</h2>
  <br />
  <div class="form-container dimensions">
    <form>
      <h3>M =</h3>
      <input class="pole" [(ngModel)]="bM" type="text" placeholder="" />
    </form>
    <form>
      <h3>N =</h3>
      <input class="pole" [(ngModel)]="bN" type="text" placeholder="" />
    </form>
  </div>
  <br />
  <h3>Максимальное количество организмов на карте: {{ maxOrgNum }}</h3>
  <br />
  <div class="range-slider">
    <input
      type="range"
      min="0"
      max="100"
      value="0"
      class="slider"
      id="myRange"
      (input)="maxOrgInputChange($event)"
    />
  </div>
  <br />
  <h3>Частота появления пищи: {{ foodProbability }}</h3>
  <br />
  <div class="range-slider">
    <input
      type="range"
      min="0.0"
      max="1.0"
      value="0"
      step="0.1"
      class="slider"
      id="myRange"
      (input)="foodInputChange($event)"
    />
  </div>
  <br />
  <button class="but" (click)="buttonClkStartSimulation(bM, bN)">
    Начать симуляцию
  </button>
  <!--
  <button (click)="autoPopulation()">Автоматическая генерация</button>
  -->
</div>
